<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<h:outputStylesheet value="https://fonts.googleapis.com/css?family=Source+Sans+Pro" />
	<h:outputStylesheet library="css" name="loja.css" />
	
</h:head>

<h:body>
	<div class="cabecalho">
		<ul class="barra-superior">
			<li class="titulo"><p:link value="#{msg.nome_loja}" outcome="index.jsf"/></li>
			<li class="a-direita">
				<ul>
				<h:form id="form-login"  rendered="#{usuarioLogado == NULL}"> 
				
					<p:inputText id="login-usuario" title="#{msg.login}" value="#{loginBean.usuario.login}" placeholder="#{msg.login}" size="10" />
					<p:tooltip  for="login-usuario" showEvent="focus" hideEvent="blur" trackMouse="true" />
				
					<p:password id="login-senha" title="#{msg.senha}" value="#{loginBean.usuario.senha}" placeholder="#{msg.senha}" size="10" /> 
					<p:tooltip  for="login-senha" showEvent="focus" hideEvent="blur" trackMouse="true" />
					
					<p:commandButton value="#{msg.entrar}" action="#{loginBean.efetuaLogin()}" 
					rendered="#{usuarioLogado == NULL}" process="@form" update="@(a-direnta)" />
					
					<p:link outcome="novoUsuario.jsf"  value="#{msg.cadastrar}" />
					
				</h:form>
				<h:form id="form-logout"  rendered="#{usuarioLogado != NULL}">
					<li>
					<p:link value="#{msg.usuarios}" rendered="#{usuarioLogado != NULL}" outcome="usuarios.jsf"/>
					</li>
					<li>
					<p:commandLink action="#{loginBean.deslogar()}" value="#{msg.sair}" rendered="#{usuarioLogado != NULL}" />
					</li>
				</h:form>
				</ul>
			</li>
		</ul>
	</div>
	<div class="carrinho">
		
	</div>
	<div class="conteudo">
		<ui:insert name="container">
		</ui:insert>
	</div>
	<div class="rodape">
		<p:clock  pattern="dd/MM/yyyy HH:mm:ss" /> 
	</div>
</h:body>
</html>